<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InAppPurchase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>568AF6241E9C779900D578D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>568AF6381E9C779900D578D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>568AF6431E9C779900D578D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
